* {
	-usp-light-grey: #DDD9D9;
	-usp-dark-grey: #5B5B5B;
	-usp-light-blue: #127A93;
	-usp-font-color: #FFFFFF
}

.root {
	-fx-font-size: 9pt;
	-fx-background: -usp-light-grey;
}

.plusButton {
	-fx-background-color: -usp-dark-grey;
	-fx-graphic: url('icons/plusButtonIcon.png');
	-fx-padding: 0px;  
}

.plusButton:hover {
    -fx-effect: dropshadow(three-pass-box, -usp-light-blue, 5, 0.05, 0, 1);
}

.minusButton {
	-fx-background-color: -usp-dark-grey;
	-fx-graphic: url('icons/minusButtonIcon.png');
	-fx-padding: 0px;
}

.minusButton:hover {
	-fx-effect: dropshadow(three-pass-box, -usp-light-blue, 5, 0.05, 0, 1);
}

.table-view {
	-fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: -usp-dark-grey;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: -usp-font-color;
}

.titled-pane {
	-fx-text-fill: -usp-font-color;
	-fx-text-alignment: center;
}

.titled-pane .title {
	-fx-background-color: -usp-dark-grey;
}

.titled-pane .title .text {
	-fx-text-fill: -usp-font-color;
	-fx-text-alignment: center;
	-fx-font-weight: bold;
}



	