* {
	-usp-light-grey: #DDD9D9;
	-usp-dark-grey: #5B5B5B;
	-usp-light-blue2: #79D8F0;
	-usp-light-blue: #127A93;
	-usp-font-color: #FFFFFF;
	-effect-highlight: dropshadow(three-pass-box, -usp-light-blue, 5, 0.05, 0, 1);
	-effect-highlight-light: dropshadow(three-pass-box, -usp-light-blue2, 5, 0.05, 0, 1);
}

.root {
	-fx-font-size: 9pt;
	-fx-background: -usp-light-grey;
}

.plusButton {
	-fx-background-color: -usp-dark-grey;
	-fx-graphic: url('icons/plusButtonIcon.png');
	-fx-padding: 0px;  
}

.plusButton:hover {
    -fx-effect: -effect-highlight;
}

.minusButton {
	-fx-background-color: -usp-dark-grey;
	-fx-graphic: url('icons/minusButtonIcon.png');
	-fx-padding: 0px;
}

.minusButton:hover {
	-fx-effect: -effect-highlight;
}

.onOffButton {
	-fx-background-color: -usp-light-grey;
	-fx-graphic: url('icons/onOffIcon.png');
	-fx-padding: 1 1 1 1;
}

.onOffButton:hover {
	-fx-effect: -effect-highlight-light;
}

.table-view {
	-fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: -usp-dark-grey;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: -usp-font-color;
}

.titled-pane {
	-fx-text-fill: -usp-font-color;
	-fx-text-alignment: center;
}

.titled-pane .title {
	-fx-background-color: -usp-dark-grey;
}

.titled-pane .title .text {
	-fx-text-fill: -usp-font-color;
	-fx-text-alignment: center;
	-fx-font-weight: bold;
}

.tile-button {
	-fx-background-color: -usp-dark-grey;
	-fx-font-weight: bold;
	-fx-text-fill: -usp-font-color;
	-fx-border-radius: 6;
	-fx-background-radius: 8;
	-fx-border-width: 2;
	-fx-border-color: -usp-light-grey;
}

.tile-button:hover {
	-fx-effect: -effect-highlight;
}

	